{
  "presets": [["next/babel", {
      "useBuiltIns": "usage",
      "corejs": 3,
      "targets": {
        "browsers": ["last 2 versions", "safari >= 7"]
      }
    },"@babel/preset-env"
  ]
],
  "plugins": ["inline-react-svg"]
}