.box {
    background-color: black;
    overflow: hidden;
}

.top {
    display: flex;
    align-items: center;
    padding: 20px 4%;
    justify-content: space-between;
}

.topRight {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.topRight  p {
    font-size: 17px;
    line-height: 1;
    cursor: pointer;
    margin: 0 5px;
    font-weight: bold;
    color: rgb(0, 218, 255);
}

.centerLogo {
    position: relative;
}
.centerLogoP{
    width: 90%;
    margin: 0 auto;
    color: rgb(0, 218, 255);
    text-align: center;
    font-size: 22px;
}
.centerLogoPOne{
    margin-bottom: 10px;
}

.centerLogoDivP{
    display: flex;
    width: 100%;
    align-items: center;
}
.centerLogoDivP{
    flex-direction: column;
    justify-content: center;
}
.centerUpdate{
    flex-direction: column;
    justify-content: center;
}


.centerLogoDivP> p {
    line-height: 1;
    text-align: center;
    color: white;
    margin-left: 8px;
}

.aboutNow {
    position: absolute;
    z-index: 10;
    top: 0;
    left: 0;
    border: solid 3px transparent;
    border-radius: 10px;
    background-image: linear-gradient(#001018, #001018),
    linear-gradient(to right, rgb(11, 202, 147), rgb(80, 51, 139));
    background-origin: border-box;
    background-clip: content-box, border-box;
    /* 光晕 */
}

.aboutNowBox {
    width: 75%;
    margin: 0 auto;
    position: relative;
}

.updateBoxLeftBox {
    position: relative;
}

.updates {
    width: 80%;
    margin: 5% auto 0;
}
.video{
    display: flex;
    align-items: center;
    padding-bottom: 10px;
    border-bottom: 1px solid rgb(48,26,76);
    justify-content: space-between;
    margin-bottom: 15px;
}
.video span{
    color: rgb(0,218,255);
    display: inline-block;
    width: 70%;
    line-height: 1.2;
}
.video p{
    line-height: 1;
    padding: 5px 10px;
    color: white;
    font-size: 18px;
    border-radius: 8px;
    border: 1px solid  rgb(0,218,255);
    cursor: pointer;
}
.updateBox {
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-top: 10px;
}
.updatesP{
    margin: 0 20px 3%;
    color: white;
    font-size: 37px;
    line-height: 1;
    padding-left: 20px;
    border-left: 1px solid white;
}

.updateBoxLeftTwo {
    position: absolute;
    width: 100%;
    box-sizing: border-box;
    top: 10px;
    left: 10px;
    border: 1px solid rgba(42, 59, 125);
    border-radius: 10px;
    background-color: black;
    z-index: 6;
}

.updateBoxLeftThree {
    position: absolute;
    width: 100%;
    z-index: 5;
    box-sizing: border-box;
    top: 20px;
    left: 20px;
    border: 0.4px solid rgba(42, 59, 125);
    background-color: black;
    border-radius: 10px;
}

.updateBoxLeft {
    box-sizing: border-box;
    background-color: black;
    z-index: 10;
    border-radius: 10px;
    position: absolute;
    top: 0;
    left: 0;
    padding: 15px;
    width: 100%;
    border: 2px solid rgba(42, 59, 125);
}

.updateBoxLeft > div {
    display: flex;
    justify-content: flex-end;
}

.updateBoxLeftEnd {
    display: flex;
    align-items: center;
}

.updateBoxLeftEnd > p {
    cursor: pointer;
    padding: 6px 12px;
    margin-left: 10px;
    background-color: rgb(29, 29, 46);
    border-radius: 10px;
    border: 1px solid rgb(0, 218, 255);
}

.roadMap {
    width: 80%;
    margin: 10% auto 0;
}

.bott {
    margin: 10% 0 40px;
}

.bottP {
    text-align: center;
    color: rgb(102, 102, 102);
    line-height: 1;
}

.bottPLast {
    color: rgb(0, 218, 255);
}

.roadMapBot {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
}

.roadMapBotBox {
    position: relative;
    margin-bottom: 8%;
}

.roadMapBotBoxBot {
    display: flex;
    justify-content: flex-start;
}

.roadMapBotBoxBot > div {
    padding: 5px 0;
}

.roadMapBotBoxBot > div > p {
    line-height: 1;
    color: white;
}

.dexBoxBo {
    background-color: rgb(0, 19, 29);
    box-sizing: border-box;
    border-radius: 10px;
    margin-bottom: 20px;
}

.dexBoxBo img {
    width: 100%;
}

.dexBoxBoP {
    color: white;
    line-height: 1;
    margin: 10px 0 25px;
}

.dexBoxBoDiv > p {
    color: white;
    line-height: 1;
    text-align: center;
    cursor: pointer;
    width: 25%;
    border: 1px solid rgb(0, 218, 255);
    border-radius: 8px;
    padding: 7px 0;
}

.dexBoxBoDiv{
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.dexBox {
    display: flex;
    align-items: center;
    justify-content: space-between;
    flex-wrap: wrap;
}

.roadMapBotBoxBot > div > p:not(:last-child) {
    margin-bottom: 15px;
}

.DEXPERT {
    width: 85%;
    margin: 5% auto 0;
}

.DEXPERTP {
    padding-left: 20px;
    margin-left: 20px;
    margin-bottom: 5%;
    display: flex;
    align-items: center;
    border-left: 1px solid white;
}

.DEXPERTP span {
    color: white;
    font-size: 26px;
    line-height: 1;
}

.roadMapBotBoxBot > p:first-child {
    width: 1px;
    border-radius: 1px;
    margin-right: 15px;
    background: #D6F9FF;
    box-shadow: 0 4px 10px 2px #00DAFF;
}

.roadMapBotBoxP {
    color: rgb(0, 218, 255);
    font-size: 25px;
    margin-bottom: 15px;
    line-height: 1;
}

.roadMapBotBoxRi {
    display: flex;
    justify-content: flex-end;
}

.roadMapP {
    padding-left: 20px;
    margin-bottom: 5%;
    border-left: 1px solid white;
    font-size: 35px;
    line-height: 1;
    color: white;
}

.updateBoxLeft > p:not(:first-child) {
    display: flex;
    align-items: center;
    margin-bottom: 3%;
}

.updateBoxLeft > p:not(:first-child) > span:last-child {
    line-height: 1.3;
    color: white;
}

.updateBoxLeft > p:not(:first-child) > span:first-child {
    min-width: 12px;
    min-height: 12px;
    border-radius: 50%;
    margin-right: 10px;
    background: radial-gradient(74.77% 74.77% at 35.94% 26.56%, #00DAFF 0%, #8F00FF 100%);
}

.updateBoxLeft > p:first-child {
    color: white;
    font-size: 27px;
    line-height: 1.2;
    margin-bottom: 3%;
}

.aboutNow > div:first-child {
    margin: 3%;
}

.aboutNow > div:first-child > p {
    padding-left: 15px;
    line-height: 1.2;
    color: white;
}

.aboutNow > div:first-child > p:first-child {
    font-size: 22px;
    margin-bottom: 10px;
    border-left: 1px solid white;
    font-weight: bold;
    line-height: 1;
}

.aboutNow > div:first-child > p:nth-of-type(2) {
    margin: 10px 0;
}

.aboutNowBo {
    position: absolute;
    top: 7px;
    left: 7px;
    width: 100%;
    height: 100px;
    border-radius: 10px;
    background: linear-gradient(270deg, #00DAFF 0%, #A056FF 100%);
    box-shadow: 0 2px 5px 2px #00DAFF;
}

.join {
    display: flex;
    margin: 6% 4%;
    align-items: center;
    justify-content: center;
}

.join > p {
    font-size: 18px;
    line-height: 1;
    cursor: pointer;
    background-color: rgb(0, 218, 255);
    border-radius: 10px;
    padding: 10px 30px;
}

.centerLogoD{
    display: flex;
    margin: 0 auto;
    width: 85%;
    align-items: center;
    justify-content: space-between;
}

.mar {
    width: 80%;
    margin: 0 auto;
}

.dis {
    display: flex;
    align-items: center;
    justify-content: center;
}

.po {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}


.centerLogo > p:last-child {
    width: 40%;
    min-height: 160px;
    position: absolute;
    top: 0;
    left: 50%;
    transform: translate(-50%, 0);
    border-radius: 100px;
    background: #16D6F2;
    mix-blend-mode: hard-light;
    filter: blur(230px);
}

.about {
    position: relative;
    width: 100%;
    margin-top: 8%;
}

.aboutTopBack2 {
    width: 25%;
    position: absolute;
    border-radius: 100px;
    background: #0AF;
    filter: blur(250px);
    mix-blend-mode: hard-light;
    top: 60%;
    right: 0;
}

.aboutTopBack3 {
    width: 25%;
    height: 200px;
    position: absolute;
    border-radius: 100px;
    background: #0AF;
    filter: blur(250px);
    mix-blend-mode: hard-light;
    bottom: 0;
    left: 0;
    transform: translate(0, 60%);
}

.aboutTopBack4 {
    width: 25%;
    height: 200px;
    position: absolute;
    border-radius: 100px;
    background: #0AF;
    filter: blur(250px);
    mix-blend-mode: hard-light;
    bottom: 50%;
    right: 0;
    transform: translate(0, -50%);
}

.aboutTopBack1 {
    width: 25%;
    height: 200px;
    position: absolute;
    top: 0;
    left: 0;
    transform: translate(0, 180%);
    border-radius: 100px;
    background: #0AF;
    filter: blur(250px);
    mix-blend-mode: hard-light;
}

.aboutTop {
    width: 70%;
    overflow: hidden;
    margin: 0 auto;
}

.aboutUs {
    font-size: 22px;
    font-weight: bold;
    padding-left: 6%;
    color: white;
    line-height: 1;
    margin-bottom: 30px;
}

.disc {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.aboutBot {
    margin-bottom: 150px;
    z-index: 10;
}

.aboutBotAll {
    margin-bottom: 40px;
    z-index: 10;
}

.aboutBot > div {
    width: 46%;
    overflow: hidden;
    position: relative;
}

.aboutBotLeft {
    width: 75%;
    margin: 0 auto;
    border-radius: 10px;
    overflow: hidden;
}

.aboutBotLeft > p:first-child {
    color: white;
    background: linear-gradient(180deg, #3B3747 0%, rgba(59, 55, 71, 0.00) 100%);
}

.bot {
    width: 62%;
    margin: 0 auto;
    overflow: hidden;
    padding: 0 8% 6% 8%;
    box-sizing: border-box;
    border-radius: 12px;
    background: rgb(32, 30, 36) url(../../public/Rectangle.svg) 100px 100px repeat;
}

.botP {
    text-align: center;
    color: #9C9C9C;
    margin: 30px 0 0 0;
}

.botAllImg {
    width: 30%;
    margin: 0 auto;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.bot > p:first-child {
    font-size: 22px;
    color: white;
    font-weight: bold;
    line-height: 1;
    margin: 10% auto 5%;
}

.botRight {
    width: 35%;
}

.botRightp {
    color: white;
    line-height: 1;
    margin-bottom: 10px;
    text-align: center;
}

.botRightp3 {
    margin-top: 100px;
}

.botRightp4 {
    margin-top: 190px;
}

.botRightp5 {
    margin-top: 150px;
}

.homeP {
    color: #BBBBBB;
    line-height: 1.2;
    margin-bottom: 8px;
}

.botBot {
    display: flex;
    position: relative;
    align-items: flex-start;
    justify-content: space-evenly;
}

.botBotLeft {
    width: 35%;
    z-index: 10;
    position: relative;
}

.botBotLeft > div:first-child {
    margin-top: 10%;
}

.botBotLeft > div:nth-child(2) {
    margin-top: 45%;
}

.botBotLeft > div:nth-child(3) {
    margin-top: 17%;
}

.botBotLeft > div:nth-child(4) {
    margin-top: 13%;
}

.botBot > div:last-child {
    width: 40%;
    height: 42%;
    position: absolute;
    top: 53%;
    left: 13%;
    background-image: url(../../public/bigQiu.png);
    background-size: 100%;
    background-repeat: no-repeat;
    background-position: center;
}

.aboutBotLeft > div {
    height: 200px;
    box-sizing: border-box;
    background: rgb(78, 79, 88) url(../../public/Rectangle.svg) 100% 100% repeat;
}

.aboutBotLeft > div > p {
    color: #BBBBBB;
    line-height: 1.4;
    font-size: 18px;
}

.botContent {
    position: relative;
    width: 42%;
    margin: 0 auto;
}

.botContent > img {
    position: absolute;
    width: 55%;
    top: 8%;
    right: -25%;
}

.botContent > div:first-child {
    width: 100%;
    position: absolute;
    top: 0;
    z-index: 10;
    left: 0;
}

.botContentp1 {
    color: white;
    text-align: center;
    line-height: 1.4;
    margin-bottom: 10px;
}

.botContentDiv {
    background: url(../../public/smallQiu.png) 100% 100% no-repeat;
}

.botImg {
    background-image: url(../../public/now.svg);
    background-size: contain;
    padding-top: 10%;
    margin-top: 10%;
    padding-bottom: 3%;
    background-repeat: no-repeat;
    background-position: center;
}

.learn {
    width: 100%;
    margin-top: 7%;
    overflow: hidden;
    background-image: url(../../public/next.svg);
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
}

.botBot > img {
    z-index: 10;
}

.learnBox {
    width: 62%;
    margin: 0 auto;
}

.learnImg {
    display: flex;
    align-items: flex-start;
    justify-content: space-between;
    flex-wrap: wrap;
}

.learnImgBox p {
    color: white;
    text-indent: 10px;
    margin-top: 8px;
    line-height: 1;
}

.learnp {
    color: white;
    font-size: 22px;
    font-weight: bold;
    margin: 5% 0 5% 2%;
    line-height: 1;
}

.topRightMob > span {
    font-size: 22px;
    color: white;
}

.motion {
    overflow: hidden;
    position: absolute;
    top: 40px;
    z-index: 100;
    right: 5px;
    width: 80px;
}

@media screen and (max-width: 500px) {
    .topRightMob {
        position: relative;
    }
}

@media screen and (min-width: 500px) {
    .topRightMob {
        position: relative;
    }

    .aboutBotLeft {
        margin-bottom: 40px;
    }

    .aboutBotLeft > div {
        height: 200px;
        padding: 10px;
    }

    .aboutBotLeft > p:first-child {
        padding: 10px;
    }

    .aboutBotLeft > div > p {
        line-height: 1.2;
        font-size: 15px;
    }
}

.botRightp1 {
    margin-top: 150px;
}

.disNo {
    display: none;
}

@media screen and (min-width: 800px) {
    .topRight {
        min-width: 44%;
    }

    .aboutBotLeft > div {
        height: 200px;
        padding: 10px;
    }

    .aboutBotLeft > p:first-child {
        padding: 6px;
        font-size: 15px;
    }

    .aboutBotLeft > div > p {
        line-height: 1;
        font-size: 15px;
    }
}

@media screen and (min-width: 1200px) {

    .aboutBotLeft > div {
        height: 200px;
        padding: 15px;
    }

    .aboutBotLeft > p:first-child {
        padding: 10px;
    }

    .aboutBotLeft > div > p {
        line-height: 1.2;
        font-size: 17px;
    }

    .botBot > img {
        width: 30px;
    }

    .topRight {
        min-width: 26%;
    }
}

@media screen and (min-width: 1600px) {
    .aboutBotLeft > div {
        height: 200px;
        padding: 20px;
    }

    .aboutBotLeft > p:first-child {
        padding: 20px;
    }

    .aboutBotLeft > div > p {
        line-height: 1.4;
        font-size: 18px;
    }
}