.box {
    background-color: rgb(35, 37, 42);
    overflow: hidden;
}

.top {
    display: flex;
    align-items: center;
    padding: 20px 4%;
    justify-content: space-between;
}

.topRight {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.topRight > p {
    font-size: 18px;
    line-height: 1;
    cursor: pointer;
    color: white;
}

.centerLogo {
    position: relative;
}

.centerLogo > p:nth-child(2) {
    color: #969696;
    text-align: center;
}

.centerLogo > div {
    position: relative;
}

.mar {
    width: 80%;
    margin: 0 auto;
}

.dis {
    display: flex;
    align-items: center;
    justify-content: center;
}

.po {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

.centerLogoP {
    font-size: 18px;
    cursor: pointer;
    color: white;
    border-radius: 10px;
    text-align: center;
    line-height: 1;
    padding: 20px 25px;
    background: linear-gradient(180deg, #0AF 0%, #5A6C75 139.38%);

}

.centerLogo > p:last-child {
    width: 40%;
    min-height: 160px;
    position: absolute;
    top: 0;
    left: 50%;
    transform: translate(-50%, 0);
    border-radius: 100px;
    background: #16D6F2;
    mix-blend-mode: hard-light;
    filter: blur(230px);
}

.about {
    position: relative;
    width: 100%;
    margin-top: 8%;
}

.aboutTopBack2 {
    width: 25%;
    position: absolute;
    border-radius: 100px;
    background: #0AF;
    filter: blur(250px);
    mix-blend-mode: hard-light;
    top: 60%;
    right: 0;
}

.aboutTopBack3 {
    width: 25%;
    height: 200px;
    position: absolute;
    border-radius: 100px;
    background: #0AF;
    filter: blur(250px);
    mix-blend-mode: hard-light;
    bottom: 0;
    left: 0;
    transform: translate(0, 60%);
}

.aboutTopBack4 {
    width: 25%;
    height: 200px;
    position: absolute;
    border-radius: 100px;
    background: #0AF;
    filter: blur(250px);
    mix-blend-mode: hard-light;
    bottom: 50%;
    right: 0;
    transform: translate(0, -50%);
}


.aboutTopBack1 {
    width: 25%;
    height: 200px;
    position: absolute;
    top: 0;
    left: 0;
    transform: translate(0, 180%);
    border-radius: 100px;
    background: #0AF;
    filter: blur(250px);
    mix-blend-mode: hard-light;
}

.aboutTop {
    width: 70%;
    overflow: hidden;
    margin: 0 auto;
}

.aboutUs {
    font-size: 22px;
    font-weight: bold;
    padding-left: 6%;
    color: white;
    line-height: 1;
    margin-bottom: 30px;
}

.disc {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.aboutBot {
    margin-bottom: 150px;
    z-index: 10;
}

.aboutBotAll {
    margin-bottom: 40px;
    z-index: 10;
}


.aboutBot > div {
    width: 46%;
    overflow: hidden;
    position: relative;
}

.aboutBotLeft {
    width: 75%;
    margin: 0 auto;
    border-radius: 10px;
    overflow: hidden;
}

.aboutBotLeft > p:first-child {
    color: white;
    background: linear-gradient(180deg, #3B3747 0%, rgba(59, 55, 71, 0.00) 100%);
}

.bot {
    width: 62%;
    margin: 0 auto;
    overflow: hidden;
    padding: 0 8% 6% 8%;
    box-sizing: border-box;
    border-radius: 12px;
    background: rgb(32, 30, 36) url(../../public/Rectangle.svg) 100px 100px repeat;
}

.botP {
    text-align: center;
    color: #9C9C9C;
    margin: 30px 0 0 0;
}

.botAllImg {
    width: 30%;
    margin: 0 auto;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.bot > p:first-child {
    font-size: 22px;
    color: white;
    font-weight: bold;
    line-height: 1;
    margin: 10% auto 5%;
}

.botRight {
    width: 35%;
}

.botRightp {
    color: white;
    line-height: 1;
    margin-bottom: 10px;
    text-align: center;
}

.botRightp3 {
    margin-top: 100px;
}

.botRightp4 {
    margin-top: 190px;
}

.botRightp5 {
    margin-top: 150px;
}

.homeP {
    color: #BBBBBB;
    line-height: 1.2;
    margin-bottom: 8px;
}

.botBot {
    display: flex;
    position: relative;
    align-items: start;
    justify-content: space-evenly;
}

.botBotLeft {
    width: 35%;
    z-index: 10;
    position: relative;
}

.botBotLeft > div:first-child {
    margin-top: 10%;
}

.botBotLeft > div:nth-child(2) {
    margin-top: 45%;
}

.botBotLeft > div:nth-child(3) {
    margin-top: 17%;
}

.botBotLeft > div:nth-child(4) {
    margin-top: 13%;
}

.botBot > div:last-child {
    width: 40%;
    height: 42%;
    position: absolute;
    top: 53%;
    left: 13%;
    background-image: url(../../public/bigQiu.png);
    background-size: 100%;
    background-repeat: no-repeat;
    background-position: center;
}

.aboutBotLeft > div {
    height: 200px;
    box-sizing: border-box;
    background: rgb(78, 79, 88) url(../../public/Rectangle.svg) 100% 100% repeat;
}

.aboutBotLeft > div > p {
    color: #BBBBBB;
    line-height: 1.4;
    font-size: 18px;
}

.botContent {
    position: relative;
    width: 42%;
    margin: 0 auto;
}

.botContent > img {
    position: absolute;
    width: 55%;
    top: 8%;
    right: -25%;
}

.botContent > div:first-child {
    width: 100%;
    position: absolute;
    top: 0;
    z-index: 10;
    left: 0;
}

.botContentp1 {
    color: white;
    text-align: center;
    line-height: 1.4;
    margin-bottom: 10px;
}

.botContentDiv {
    background: url(../../public/smallQiu.png) 100% 100% no-repeat;
}

.botImg {
    background-image: url(../../public/now.svg);
    background-size: contain;
    padding-top: 10%;
    margin-top: 10%;
    padding-bottom: 3%;
    background-repeat: no-repeat;
    background-position: center;
}

.learn {
    width: 100%;
    margin-top: 7%;
    overflow: hidden;
    background-image: url(../../public/next.svg);
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
}

.botBot > img {
    z-index: 10;
}

.learnBox {
    width: 62%;
    margin: 0 auto;
}

.learnImg {
    display: flex;
    align-items: start;
    justify-content: space-between;
    flex-wrap: wrap;
}

.learnImgBox p {
    color: white;
    text-indent: 10px;
    margin-top: 8px;
    line-height: 1;
}

.learnp {
    color: white;
    font-size: 22px;
    font-weight: bold;
    margin: 5% 0 5% 2%;
    line-height: 1;
}

.topRightMob > span {
    font-size: 22px;
    color: white;
}

.motion {
    overflow: hidden;
    position: absolute;
    top: 40px;
    right: 5px;
    width: 80px;
}

@media screen and (max-width: 500px) {
    .topRightMob {
        position: relative;
    }
}

@media screen and (min-width: 500px) {
    .topRightMob {
        position: relative;
    }

    .aboutBotLeft {
        margin-bottom: 40px;
    }

    .aboutBotLeft > div {
        height: 200px;
        padding: 10px;
    }

    .aboutBotLeft > p:first-child {
        padding: 10px;
    }

    .aboutBotLeft > div > p {
        line-height: 1.2;
        font-size: 15px;
    }
}

.botRightp1 {
    margin-top: 150px;
}

.disNo {
    display: none;
}

@media screen and (min-width: 800px) {
    .topRight {
        width: 35%;
    }

    .aboutBotLeft > div {
        height: 200px;
        padding: 10px;
    }

    .aboutBotLeft > p:first-child {
        padding: 6px;
        font-size: 15px;
    }

    .aboutBotLeft > div > p {
        line-height: 1;
        font-size: 15px;
    }

    /*.aboutBotLeft > div{*/
    /*    height: 300px;*/
    /*}*/
}

@media screen and (min-width: 1200px) {

    .aboutBotLeft > div {
        height: 200px;
        padding: 15px;
    }

    .aboutBotLeft > p:first-child {
        padding: 10px;
    }

    .aboutBotLeft > div > p {
        line-height: 1.2;
        font-size: 17px;
    }

    .botBot > img {
        width: 30px;
    }

    .topRight {
        width: 25%;
    }
}

@media screen and (min-width: 1600px) {
    .aboutBotLeft > div {
        height: 200px;
        padding: 20px;
    }

    .aboutBotLeft > p:first-child {
        padding: 20px;
    }

    .aboutBotLeft > div > p {
        line-height: 1.4;
        font-size: 18px;
    }
}