.mobliceNotifications{
  min-height: 90vh;
}
/* 超小屏幕 */
@media screen and (max-width: 768px) {
  .mobliceNonoFlex{
    flex-wrap: nowrap;
    flex-direction: column;
  }
  .allMobliceH{
    padding-top: 0;
    height: 100%;width: 100%;
  }
  .allMobliceBox{
    /*margin: 20px 4px 0 -86px;*/
    margin: 20px 4px 0 5px;
  }
  .allMoblice{
    width: 100%;
  }
  .mobliceEditInput{
    width: 100%;
    overflow: hidden;
    text-overflow: ellipsis;
  }
  .mobliceNotifications{
    height: auto;
  }
  .mobliceRight{
    margin-right: 0;
  }
}

/* 小屏幕 */
@media screen and (min-width: 768px) {

}

/* 中型屏幕 平板 */
@media screen and (min-width: 992px){
}

/* 电脑屏幕 */
@media screen and (min-width: 1200px){

}
