
.ul {
    list-style: none;
}
.dis {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-top: 5px;
}
.editDis{
    min-width: 70px;
    justify-content: space-around;
}


.ul > li {
    display: flex;
    padding: 5px 20px;
    justify-content: space-between;
    align-items: center;
    overflow: hidden;
}

.ul > li:not(:first-child):not(:last-child) {
    border-bottom: 1px solid rgb(128, 128, 128);
}

.ul > li span {
    overflow: hidden;
}

.ul > li:first-child {
    /*margin-bottom: 8px;*/
}

.ul > li > span:first-child {
    color: #53BB2E;
}

.box {
    padding: 20px 20px 0 0;
    overflow: hidden;
}

.boxPar {
    display: flex;
    justify-content: space-between;
}

.boxPar > .left {
    width: 64%;
}
.abc {
    padding: 25px;
    border-radius: 10px;
    transition: box-shadow 0.3s;
}

.rightUl {
    width: 100%;
}
.rightUl li {
    display: flex;
    align-items: center;
    border-bottom: 1px solid rgb(128, 128, 128);
    padding: 5px 10px;
    justify-content: space-between;
}

.rightUl .be:hover {
    background-color: rgb(208, 255, 149);
}

.rightUl .de:hover {
    background-color: rgb(254, 239, 146);
}

.rightUl > li:last-child {
    margin-bottom: 0;
    border-radius: 0 0 8px 8px;
    border-bottom: none;
}

.rightUl li:first-child {
    border-bottom: none;
}

.button {
    border-radius: 12px;
    background: rgba(229, 171, 103, 0.20);
    box-shadow: 0 4px 4px 0 rgba(0, 0, 0, 0.25) inset
}

.button > button {
    border: 0;
    border-radius: 16px !important;
    margin: 3px 5px;
    font-size: 10px;
    line-height: 1;
}

.button .css-ueukts-MuiButtonBase-root-MuiToggleButton-root.Mui-selected {
    background: rgb(243, 215, 177) !important;
}

.ttt {
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
}

.homeTop{
    display: flex;justify-content: space-between;align-items: start;
}
.homeModule{
    width: 46%;  padding: 0;
}
.homeCard{
    min-width: 300px;
    width: 100%;
    border: none;
}
.homeCardName{
    font-size: 20px;font-weight: bold;
}
.homeCardMore{
    font-size: 20px;color: #2394D4;cursor: pointer;
}
.homeCardListBox{
    display: flex;
    align-items: center;
    /* width: 30%; */
}
.homeCardIm{
    text-align: center;
    width: 30px;
    min-width: 30px;
    line-height: 30px;
    border-radius: 50%;
    font-size: 16px;
    background-color: #454545;
    color: white;
    margin-right: 10px;
}
.homeCardDate{
    display: flex;
    align-items: center;
    justify-content: start;
    line-height: 1;
    width: 30%;
}
.editHomeCardDate{
    width: auto;
}
.homeCardSymbol{
    text-align: center;
    font-size: 16px;
    overflow: hidden;
    line-height: 1;
    text-overflow: ellipsis;
    white-space: nowrap;
    font-weight: bold;
    min-width: 80px;
}
.homeCardListImg{
    border-radius: 50%;margin-right: 10px;
}
.homeCardModule{
    display: flex;
    align-items: center;
    width: 100%;
    line-height: 50px;
}
.homeCardBot{
    width: 100%;padding: 0 24px;
}
.homeFeaturedMore{
    font-size: 20px;
    color: #2394D4;
    cursor: pointer;
    margin-left: 30px;
}
.homeRightTop{
    display:flex; align-items: center; justify-content: space-between;
}
.homeRightTopName{
    font-size: 20px;font-weight: bold;
}

/* 2023-12-04 新增样式 */
.homeTableBox{
    overflow: auto;
}
.moblicePairSubText{
    width: 100px;
}
.homeTableParentText{
    width: 100px;
}
.homeTableParentMain{
    width: 100%;
    display: flex;
    overflow: hidden;
}
.homeTablePrenSpan{
    display: block;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
}
.homeTableNextSpan{
    display: block;
    white-space: nowrap;
}


/* 超小屏幕 */
@media screen and (max-width: 768px) {
    .boxPar, .homeTop{
        flex-direction: column;
    }
    .box{
        padding: 20px 4px 0 4px;
    }
    .boxPar > .left, .homeModule {
        width: 100%;
    }
    .boxPar > .left, .homeMarginBottom{
        margin-bottom: 35px;
    }
    .homeCardFlexBox{
        display: flex;
        align-items: center;
    }
    .dis{
        min-width: 80px;
        margin-top: 0;
    }
    .homeCardDate{
        width: 24%;
    }
    .homeCardSymbol{
        text-overflow: ellipsis;
        overflow: hidden;
        min-width: 80px;
        max-width: 80px;
    }
    .packageCs{
        flex-direction: column;
    }
    .homeCardBot{
        padding: 0 10px;
        padding-top: 10px;
    }
  }
  
  /* 小屏幕 */
  @media screen and (min-width: 768px) {
    .boxPar{
        flex-direction: column;
    }
    .boxPar > .left{
        width: auto;
        margin-bottom: 35px;
    }
    .homeModule{
        overflow-x: hidden;
    }
  }
  
  /* 中型屏幕 平板 */
  @media screen and (min-width: 992px){
    
  }
  
  /* 电脑屏幕 */
  @media screen and (min-width: 1200px){
    .boxPar > .left{
        width: 64%;
        margin-bottom: 0;
    }
    .boxPar{
        flex-direction: row;
        justify-content: space-between;
    }
  }


