/*暗色*/
.darknessOne {
    background-color: rgb(37, 35, 42) !important;
}

.darknessOne .ant-switch-handle::before {
    background-color: black !important;
    border: 1px solid white !important;
}

.darknessTwo {
    background-color: rgb(59, 55, 71) !important;
}

.darknessThrees {
    background-color: rgb(37, 30, 38) !important;
}

.darknessItem:hover {
    background-color: rgb(53, 47, 74) !important;
}

.darknesDarkItem:hover {
    background-color: rgb(59, 55, 71) !important;
}


.darknessTwo .MuiDrawer-paper {
    background-color: rgb(59, 55, 71) !important;
}

.drakePat .ant-pagination-item > a, .ant-pagination-options .ant-select .ant-select-selection-item, .ant-pagination-jump-next .ant-pagination-item-ellipsis, .ant-pagination-next > button, .ant-pagination-prev > button {
    color: rgb(156, 156, 156) !important;
}


.drakColor{
    color: rgb(156, 156, 156) !important;
}
.drakePat .ant-pagination-item-active > a {
    color: white !important;
}

/* */
.darknessThree {
    background-color: rgb(53, 47, 74) !important;
}
.noti{
    background-color: #B2DB7E !important;
}

.darknessThree > span {
    color: rgb(138, 138, 138);
}

.darknessFour{
    color: rgb(145, 140, 140) !important;
}
.colorDrak .ant-form-item .ant-row .ant-col label{
    color: rgb(145,140,140)!important;
}

.colorDrak .ant-form-item .ant-row .ant-col .ant-form-item-control-input .ant-form-item-control-input-content input{
    color: white!important;
}

.colorDrak .ant-form-item .ant-row .ant-col .ant-form-item-control-input .ant-form-item-control-input-content textarea{
    color: white!important;
}
.darknessFont {
    color: rgb(243, 243, 243) !important;
}

.darknessFont .ant-statistic-content .ant-statistic-content-value {
    color: rgb(243, 243, 243) !important;
    font-size: 20px;
    margin-left: 4px;
}

.darknessBack {
    background-color: rgb(44, 37, 69) !important;
    color: white;
}
.introBack{
    background-color: rgb(44,41,74)!important;
}

.fontB {
    color: black;
}

.fontW {
    color: white!important;
}


/*亮色*/
.brightOne {
    background-color: rgb(243, 243, 243) !important;
}

.brightItem:hover {
    background-color: #DDF1E2;
}

.brightWhiteItem:hover {
    background-color: rgb(128, 128, 128) !important;
}

.brightOne .ant-switch-handle::before {
    background-color: black !important;
}

.brightEth {
    background-color: white;
}

.brightFore {
    background-color: rgb(254, 239, 146);
}

.brightTwo {
    background-color: rgb(253, 213, 62) !important;
}


.brightTT {
    background-color: rgb(254, 239, 146) !important;
}


.brightBackTwo {
    background-color: white !important;
}

.brightTwo .MuiDrawer-paper {
    background-color: rgb(253, 213, 62) !important;
}

:where(.css-dev-only-do-not-override-1k3mfk2).ant-form-item .ant-form-item-label {
    padding: 0 !important;
}

.brightThree {
    background-color: rgb(254, 239, 146) !important;
}

.brightFont {
    color: rgb(37, 35, 42) !important;
}

.brightFBack {
    background-color: rgb(188, 158, 45) !important;
}
.usernameBack{
    background-color: rgb(188, 238, 125)!important;
}
.brightFont .ant-statistic-content .ant-statistic-content-value {
    color: rgb(37, 35, 42) !important;
    font-size: 20px;
    margin-left: 4px;
}

.boxHover:hover {
    box-shadow: 15px 15px 0 rgb(188, 158, 54);
}

/* 暗色 */
.darkMode {
    background-color: rgb(37, 35, 42) !important;
}

/* 亮色 */
.whiteMode {
    background-color: rgb(249, 181, 54);
}


/* 超小屏幕 */
@media screen and (max-width: 768px) {
    .drawerShowNode {
        display: none;
    }
}

/* 小屏幕 */
@media screen and (min-width: 768px) {

}

/* 中型屏幕 平板 */
@media screen and (min-width: 992px) {

}

/* 电脑屏幕 */
@media screen and (min-width: 1200px) {

}
