.aaa {
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 20px
}

.search {
    cursor: pointer;
    width: 100%;
    color: #8A8A8A;
    line-height: 30px;
    padding: 6px 12px;
    border-radius: 6px;
    transition: box-shadow 0.3s;
}


.eth {
    color: rgb(156, 156, 156);
    border-radius: 15px;
    padding-right: 8px;
    display: flex;
    align-items: center;
    justify-content: space-between;
}
.ethMoblice{
    width: 40px;
    height: 40px;
    color: rgb(156, 156, 156);
    border-radius: 50%;
    display: flex;
    align-items: center;
}
.ethMobliceMg{
    margin-right: 6px;
}

.marqueeBox {
    width: 25% !important;
    margin-left: 20px;
}

.marquee {
    margin-right: 30px;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.marqueeName {
    width: 20px;
    border-radius: 50%;
    background-color: #454545;
    color: white;
    line-height: 20px;
    text-align: center;
    margin: 0 2px;
}

.searchToken {
    position: relative;
    width: 25%;
}

.login {
    display: flex;
    align-items: center;
}

.loginBox {
    display: flex;
    align-items: center;
}

.loginImg {
    margin-right: 10px;
    border-radius: 50%;
    cursor: pointer;
}
.loginName{
    border: none!important;
}
.loginName  span{
    font-weight: bold;
    color: #8A8A8A!important;
}

.but {
    margin-left: 10px;
}

.addShow {
    display: flex;
    align-items: center;
    margin-bottom: 10px;
}

.addCur {
    cursor: pointer;
    font-size: 20px;
}

.addCurMt5 {
    margin-top: 5px;
}

.addPresale {
    line-height: 1;
    cursor: pointer;
}

.lines {
    width: 100%;
    height: 1px;
    background-color: rgb(128, 128, 128);
}
.moblic-ShowNode{
    display: none;
}
.headerShowScrollNode, .headerHideScrollNode,.mobliceSearchToken{
    display: none;
}
.mobliceMentItemsBox{
    padding: 35px 0;
    display: none;
    position: absolute;
    top: 60px;
    z-index: 1200;
    width: 100%;
}
.mobliceMentHideItemsBox{
    display: block;
}
/* 超小屏幕 */
@media screen and (max-width: 768px) {
    .headerShowNode{
        display: none;
    }
    .headerShowScrollNode{
        display: block;
        margin-top: 20px;
    }
    .marqueeBox{
        width: 92% !important;
    }
    /* 导航栏样式 */
    .moblic-ShowNode{
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        align-items: center;
    }
    .mobliceMenuFlex{
        display: flex;
    }
    .ethMobliceCt{
        height: 40px;
        border-radius: 50px;
    }
    .cardParams{
        background-color: rgb(253, 213, 62);
        padding: 10px;
        overflow-y: auto;
        transition: box-shadow 0.3s;
        position: relative;
        border-bottom: 1px solid rgb(128, 128, 128);
    }
    .whiteMode {
        background-color: rgb(249, 181, 54);
    }
    .searchToken{
        width: 90%;
    }
    .mobliceMentItemsBox{
        display: none;
    }
    .mobliceMentHideItemsBox{
        display: block;
        padding: 20px 0;
    }
    .mobliceSearchToken{
        display: block;
    }
    .mobliceDpFlex{
        width: 50%;
        display: flex;
        justify-content: center;
        margin-bottom: 10px;
    }
    .mobliceDpFlexs{
        display: flex;
        flex-direction: column;
        align-items: center;
    }
}

/* 小屏幕 */
@media screen and (min-width: 768px) {
    .mobliceMentHideItemsBox{
        display: none;
    }
}

/* 中型屏幕 平板 */
@media screen and (min-width: 992px){
    .mobliceMentHideItemsBox{
        display: none;
    }
}

/* 电脑屏幕 */
@media screen and (min-width: 1200px){
    .mobliceMentHideItemsBox{
        display: none;
    }
}
