/* purgecss start ignore */
@tailwind base;
@tailwind components;

html {
    font-family: "Rubik", sans-serif;
}

body {
    background-color: rgb(249, 181, 54);
}

body::-webkit-scrollbar {
    width: 10px;
    background-color: #F5F5F5;
}

/*定义滚动条轨道：内阴影+圆角*/
body::-webkit-scrollbar-track {
    background-color: #F5F5F5;
}

/*定义滑块：内阴影+圆角*/
body::-webkit-scrollbar-thumb {
    border-radius: 10px;
    background-color: #555;
}

p {
    color: #000
}

span {
    color: #000
}

.animation-hover:after {
    background: none repeat scroll 0 0 transparent;
    content: "";
    height: 2px;
    transition: width 0.3s ease 0s, left 0.3s ease 0s;
    @apply w-0 bg-orange-500 left-1/2 block bottom-0 absolute;
}

.animation-active:after {
    @apply left-0 w-full;
}

.animation-hover:hover:after {
    @apply left-0 w-full;
}

li.custom-list:before {
    content: "\2022";
    /* bullet point, for screen readers */
    text-indent: -9999999px;
    /* move the bullet point out of sight */

    width: 0.4em;
    height: 1em;
    background-repeat: no-repeat;

    background-size: 0.4em 0.7em;
    background-position: 0 0.3em;
    font-size: 300%;
    top: -0.35em;
    @apply absolute block;
}

li.circle-check:before {
    /*background-image: url("/assets/Icon/checklist.svg");*/
    left: -0.7em;
    top: -0.4em;
}

li.check:before {
    left: -0.5em;
    /*background-image: url("/assets/Icon/jam_check.svg");*/
    top: -0.5em;
    font-size: 400%;
}

/* Slideshow */
.slick-dots li {
    @apply inline-block;
}

.slick-dots span {
    @apply bg-gray-500;
}

.slick-dots .slick-active span {
    @apply bg-orange-500 rounded-l-full rounded-r-full w-12;
}

/* purgecss end ignore */
@tailwind utilities;
/* purgecss start ignore */
/* purgecss end ignore */

.MuiDrawer-paper {
    /*background-image: url("/assets/home-background.png");*/
    /* border-right: .0625rem solid #23323c!important; */
    box-shadow: 0 -8px 4px 0 hsla(0, 0%, 100%, .5);
}


.drawerItem:hover {
    background-color: #DDF1E2;
}

.headerClass {
    opacity: 1;
}

.leftMoe:hover {
    background-color: #D0FF95;
}

.aaaa .MuiDrawer-paper {
    background-color: rgb(253, 213, 62);
}

.more {
    color: #00b8d8;
    font-size: 13px;
}

.pair-row {
    cursor: pointer;
}

.rightSideCard {
    border: 2px #626262 solid;
    border-radius: 10px;
    margin-bottom: 15px;
}

.rightSideCard:hover {
    background-color: #D0FF95;
}

.pair-row:hover {
    background-color: #142028;
}

.search {
    min-width: 100%;
    max-width: 25vw;
    display: flex;
    align-items: center;
    height: 40px;
    background: #D9D9D9;
    border-radius: 6px;
    padding: 9px;
    margin-left: 25px;
    margin-right: 25px;
    cursor: pointer;
    /* border: 1px solid #282e35; */
    color: #8A8A8A
}

.MuiOutlinedInput-notchedOutline {
    border-color: white;
}

.MuiOutlinedInput-notchedOutline:hover {
    border-color: white;
}

.MuiInputBase-input {
    color: white;
}

.MuiInputBase-input:hover {
    border-color: white;
}

/* .box-card {
  border: .0625rem solid #23323c!important
} */

.MuiSvgIcon-root {
    color: white !important;
}

.MuiButtonGroup-root {
    box-shadow: none !important;
}

.MuiTableRow-root:hover {
    background-color: #DDF1E2;
}

.fire-flame {
    position: absolute;
    top: 9%;
    left: 6%;
}

.home-launch-icon {
    position: absolute;
    top: 9%;
    left: 38%;
}

.tablesss .ant-table .ant-table-content .ant-table-thead .ant-table-cell {
    background-color: rgb(253, 213, 62);
    padding: 8px !important;
    border: none !important;
}

.tablesss .ant-table .ant-table-content .ant-table-thead .ant-table-cell:before {
    display: none;
}

.tablesss .ant-table .ant-table-content .ant-table-tbody .ant-table-row .ant-table-cell {
    background-color: rgb(253, 213, 62);
    border: none !important;
    padding: 8px !important;
}

.tablesss .ant-table .ant-table-content .ant-table-tbody .ant-table-row:not(:last-child) .ant-table-cell {
    border-bottom: 1px solid rgb(128, 128, 128);
}

.tablesss .ant-table .ant-table-content .ant-table-tbody .ant-table-row:hover .ant-table-cell {
    background-color: rgb(254, 239, 146) !important;
}

.bbb {
    margin-left: 10px;
}


.hotTable .ant-table .ant-table-container  .ant-table-thead .ant-table-cell {
    background-color: rgb(188, 238, 125)!important;
    border: none;
}

.hotTable .ant-table .ant-table-container .ant-table-thead .ant-table-cell:before {
    display: none;
}

.presale .ant-table .ant-table-content .ant-table-thead .ant-table-cell {
    background-color: #BCEE7D;
    border: none;
}

.presale .ant-table .ant-table-content .ant-table-thead .ant-table-cell:before {
    display: none;
}

.anyHave .ant-table-cell {
    background-color: #BCEE7D !important;
}

.oneHave .ant-table-cell {
    background-color: rgb(253, 213, 62) !important;
}

.noHave .ant-table-cell {
    background-color: rgb(209, 209, 209) !important;
}

.hotTable .ant-table  .ant-table-container  .ant-table-tbody .ant-table-row .ant-table-cell {
    background-color: rgb(253, 213, 62)!important;
    border-bottom-color: #626262;
    /*padding: 5px!important;*/
}



.presale .ant-table .ant-table-content .ant-table-tbody .ant-table-row:hover .ant-table-cell {
    background-color: rgb(254, 239, 146) !important;
}


.presale .ant-table .ant-table-content .ant-table-tbody tr  td {
    border-bottom:1px solid black !important;
}

.anyTable .ant-table .ant-table-content .ant-table-thead  .ant-table-cell .ant-table-column-sorters .ant-table-column-title {
    flex: none !important;
}

.anyTable .ant-table .ant-table-content .ant-table-thead  .ant-table-cell .ant-table-column-sorters {
    justify-content: center !important;
}


.hotTable .ant-table .ant-table-container .ant-table-tbody .ant-table-row:hover .ant-table-cell {
    background-color: rgb(254, 239, 146) !important;
}

 .ant-table .ant-table-container .ant-table-tbody .ant-table-row:hover {
    cursor: pointer;
}

.detailSegmented {
    background-color: rgb(253, 213, 62);
    margin-bottom: 20px;
}
.detailSegmented .ant-segmented-item-selected {
    background-color: #FEEF92 !important;
}
.cardParams .ant-card .ant-card-body {
    padding: 0 !important;
}
.cardParams {
    width: 34%;
    background-color: rgb(253,213,62);
    border-radius: 12px;
    padding: 10px 8px;
    overflow-y: auto;
    transition: box-shadow 0.3s;
}

.cardParams::-webkit-scrollbar {
    width: 10px;
    background-color: #F5F5F5;
}

/*定义滚动条轨道：内阴影+圆角*/
.cardParams::-webkit-scrollbar-track {
    background-color: #F5F5F5;
}

/*定义滑块：内阴影+圆角*/
.cardParams::-webkit-scrollbar-thumb {
    border-radius: 10px;
    background-color: #555;
}

.cardParams:hover {
    box-shadow: 15px 15px 0 rgb(188, 158, 54)
}

.homeTable {
    width: 100%;
    position: relative;
    background-color: rgb(253, 213, 62);
    margin-top: 35px;
    padding: 10px 0;
    border-radius: 12px;
    transition: box-shadow 0.3s;
}

.homeTable:hover {
    box-shadow: 15px 15px 0 rgb(188, 158, 54)
}




